/* Подключаем компасс */
@import "compass";

$experimental-support-for-mozilla: true;
$experimental-support-for-webkit: true;
$support-for-original-webkit-gradients: true;
$experimental-support-for-opera: true;
$experimental-support-for-microsoft: true;
$experimental-support-for-khtml: true;
$experimental-support-for-svg: true;

/* Включаем спрайты и загружаем иконки */
$mysprite-layout:smart;
@import "icons/*.png";
@include all-icons-sprites;

// $icons: ('export', 'globus', 'lampochka');

// @each $icons in $icons {
// 	.icons-#{$icons} {
// 		display: inline-block;
// 		position: relative;
// 		width: icons-sprite-width(#{$icons});
// 		height: icons-sprite-height(#{$icons});
		
// 		vertical-align: top;
// 		display: -moz-inline-stack;
// 		zoom: 1;
//         *display: inline;
// 	}
// }

/* Импортируем гугл-шрифты */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic);

/* Импортируем локальные шрифты */
@mixin font-face($font-family, $file-path) {
  
	// Мы используем http://everythingfonts.com/font-face конвертер
  	@font-face {
		font-family: $font-family;
		src: url('../fonts/' + $file-path + '/' + $file-path + '.eot');
		src: url('../fonts/' + $file-path + '/' + $file-path + '.eot') format('embedded-opentype'),
			 url('../fonts/' + $file-path + '/' + $file-path + '.woff2') format('woff2'),
			 url('../fonts/' + $file-path + '/' + $file-path + '.woff') format('woff'),
			 url('../fonts/' + $file-path + '/' + $file-path + '.ttf') format('truetype'),
			 url('../fonts/' + $file-path + '/' + $file-path + '.svg#TTDrugsThin') format('svg');      
		   
		font-weight: normal;
		font-style: normal;
	}
  
	// Chrome для Windows фикс: http://www.adtrak.co.uk/blog/font-face-chrome-rendering/
	@media screen and (-webkit-min-device-pixel-ratio: 0) {
		@font-face {
			font-family: $font-family;
			src: url('../fonts/' + $file-path + '/' + $file-path + '.svg##{$font-family}') format('svg');
		}
	}
}

// Подключаем локальный шрифты из Миксина
@include font-face(Myriad Pro-Regular, 'MyriadPro-Regular');



// Используй это миксин для всего конфига!
@mixin font-type($font-family, $font-size, $line-height, $letter-spacing) {
	font-family: $font-family;
	font-size: $font-size;
	line-height: $line-height;
	letter-spacing: $letter-spacing;
}



/* Определяем шрифты */
$main-font: 'Myriad Pro-Regular', sans-serif;

html {
	/* height hack */
	min-height:100%; 
	height:auto !important; 
	height:100%;
}

body {
	/* height hack */
	min-height:100%; 
	height:auto !important; 
	height:100%;
	
	/* устанавливаем оптимальный вертикальный ритм */
	@include font-type($main-font, 14px, 20px, 0px);
	
	/* сглаживание шрифтов в вебките */
	-webkit-font-smoothing: subpixel-antialiased;
}

body.onload {overflow:hidden;}
button, select {-webkit-appearance: none;}

/* В дополнение от Bootstrap, <p> (параграфы) получают нижний отступ в половину калькулируемой высоты строки (изначально 10px) */
p {
	margin-bottom: 20px; /* для правильного вертикального ритма */
	
}
	/* <p> в виде заголовка */
	.lead {}

a {
	text-decoration: underline;
	
	&:hover {}
	&:active {}
}

/* tables */
/* Враппер для адаптивных таблиц */
.table-responsive {}

/* Стили таблиц
----------------
.active - Применяет цвет при наведении на конкретную строку или ячейку
 классы можно использовать в любой части таблицы
.success - зеленый
.warning - желтый
.danger - красный
.info - синий
*/

.table {
	thead {
		tr {
			th {}
		}
	}
	tbody {
		tr {
			td {}
		}
	}
}


/*  Лэйбы (классы для .form-group)
	.has-success 
	.has-warning
	.has-error
	.has-feedback - если у нас иконка */
	
	label {}

/* 
Добавьте .form-inline для выравнивания по левому краю и встроенному блоку управления для компактной планировки.
Используя Bootstrap предопределенные классы разметки для выравнивания лейблов и груп контролов форм 
в горизонтальном макете добавляя .form-horizontal в форму (.form-group превращается в .row).
В <label> и <imput> добавляем классы для сетки .col-sm-№

Наиболее распространенные формы управления, текстовые поля ввода включают поддержку для всех типов 
HTML5 : text, text, datetime, datetime-local, date, month, time, week, number, email, url, search, tel, и color.

Для select используется .form-control Используйте опцию по умолчанию, или добавьте multiple, чтобы показать несколько вариантов сразу.
*/

.form {
	/* отступы между каждым сгруппированным блоком  */
	.form-group {

		.control-label {
			
		}

		.input_wrapper {
			
			select {}
		}

		.input-group-addon {}

		/* The general style input, textarea, select */
		.form-control {
			
			/* хак против зуна на мобильных */
			font-size: 16px;

			&:focus {
				border: none;
				box-shadow: none;
			}
		}

		/* Style for checkboxes*/
		.checkbox {
			/* Используйте .checkbox-inline класса набором флажков или радиоприемников для управления отображениями на той же линии. */
			label {
				input {

				}
			}
		}
		/* Стиль для радиобуттонов */
		.radio {
			/* Используйте .radio-inline класса набором флажков или радиоприемников для управления отображениями на той же линии. */
			label {
				input {
					
				}
			}
		}
		/* Когда вам необходимо разместить текст рядом с формой этикетки в пределах горизонтальной формы, используйте .form-control-static класс на <p>. */
		.form-control-static {

		}
		/* Подпись к input, textarea, selec */
		.help-block {

		}
	}
}

	
/* buttons */
.btn {

	&:hover {
		text-decoration: none;
	}

	&:active {
		
	}

	&:after {

	}
}

.btn-default,
.btn-primary,
.btn-info {
	
}

.btn-default {
	background: #fff;
	border: 2px solid #2c98b0;
	color: #000;
	padding: 8px 20px;
	text-decoration: none;
	text-transform: uppercase;

	@include font-type($main-font, 12px, auto, 0.8px);
	@include border-radius(20px);
}


/* images */
img {}
.img-responsive {}
.img-rounded {}
.img-circle {}
.img-thumbnail {}

/* System */
.np {padding: 0;} /* no padding */
.np-l {padding-left:0;} /* no padding left */
.np-r {padding-right:0;} /* no padding right */
.dp {padding:0 30px;} /* double padding */
.nm {margin:0;} /* no margin */
.nm-b {margin-bottom:0;} /* no margin bottom */
.p_small {padding: 5px;}

/* Общий сброс базовых настроек */
.navbar-default .navbar-toggle {border:none;}

/* Сообщение об устаревшем броузере */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


// =======================================================================// 
//                                  Адаптация                             //        
// =======================================================================// 
@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (max-width: 320px) { @content; }
  }
  @else if $media == xs {
    @media only screen and (max-width: 481px) { @content; }
  }
  @else if $media == sm {
    @media only screen and (max-width: 767px) { @content; }
  }
  @else if $media == md {
   @media only screen and(max-width: 991px) { @content; }
  }
  @else if $media == lg {
   @media only screen and (max-width: 1199px) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (max-width: 1300px) { @content; }
  }
}